<app-nav-home></app-nav-home>
<div class="banner_bottom">
  <div class="container">
    <div class="tittle_head">
      <h3 class="tittle">Sign up for free
        <span></span>
      </h3>
    </div>
    <div class="inner_sec_info_wthree_agile">
        <div class="row">

          <div class="col-sm-6">
            <label>Your Name</label>
            <br>
            <input type="text" class="myInput" [(ngModel)]="name" />
          </div>
          <div class="col-sm-6">
            <label>Your Surname</label>
            <br>
            <input type="text" class="myInput" [(ngModel)]="surname" />
          </div>
          <div class="col-sm-12">
            <label>Your Email</label>
            <br>
            <input type="email" class="myInput" [(ngModel)]="email" />
          </div>
          <div class="col-sm-12">
            <label>Choose Password</label>
            <br>
            <input type="password" class="myInput" [(ngModel)]="password" />
          </div>
          <div class="col-sm-12">
            <label>Confirm Password</label>
            <br>
            <input type="password" class="myInput" [(ngModel)]="passwordConfirm" />
          </div>
          <div class="col-sm-12">
            <label></label>
            <br>
            <input type="button" value="GET STARTED" class="myInput btn-submit" (click)="Join()" style="background:#2ecc71; color:white; border: none"
            />
          </div>
          <div class="col-sm-12">
            <label></label>
            <br>
            <h4 class="message"> {{message}}</h4>
            <p>Have An Account?
              <a routerLink="/user-login">Sign In!</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
