<ul class="list-group" *ngIf="sidemenu as user">
  <li class="list-group-item">
    <h1 class="usericon">
      <span class="glyphicon glyphicon-user"></span>
    </h1>
    <h1 class="username">
      Hello {{user.name}}
      <br>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">My Link</button>
      <a href="#!/My-Profile">
        <button type="button" class="btn btn-info">My Profile</button>
      </a>

    </h1>

    <div class="container">
      <!-- Trigger the modal with a button -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">My Link</h4>
            </div>
            <div class="modal-body">
              <p>Share this link and get bonuses!</p>
              <p>
                <b>
                  <font color=green>{{user.mylink}}</font>
                </b>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </li>

  <li class="list-group-item">
    <a routerLink="/my-referrals">
      <span class="glyphicon glyphicon-user"></span>
      <span class="glyphicon glyphicon-user"></span> My-Referrals
      <span class="badge">{{ user.myrefferals }}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/my-bonuses">
      <span class="glyphicon glyphicon-credit-card"></span> Bonuses
      <span class="badge"> R {{ user.bonus }}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/my-withdraws">
      <span class="glyphicon glyphicon-credit-card"></span> My Withdrawals
      <span class="badge"> {{ myWithdrawals }}</span>
    </a>
  </li>
  <!--  <li class="list-group-item"><a href="Amount-You-Can-Keep"><span class="glyphicon glyphicon-apple"></span> Amount you can keep <span class="badge"> R {{ keepableAmount }}</span></a></li>    -->
  <li class="list-group-item">
    <a routerLink="">
      <span class="glyphicon glyphicon-apple"></span>
      Amount kept <span class="badge"> R {{user.amountkept }}</span>
    </a>
  </li>
  <li ng-show="showDonateLink" class="list-group-item">
    <a routerLink="/create-dream">
      <span class="glyphicon glyphicon-heart-empty"></span> Create dream</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/user-dashboard">
      <span class="glyphicon glyphicon-th"></span> Dashboard</a>
  </li>
  <!--  <li class="list-group-item"><a href=""><span class="glyphicon glyphicon-th-list"></span> History</a></li> -->
  <li class="list-group-item">
    <a routerLink="/logout">
      <span class="glyphicon glyphicon-off"></span> Logout</a>
  </li>
</ul>

