<ul class="list-group" *ngIf="sidemenu as user">
  <li class="list-group-item">
    <h1 class="usericon">
      <span class="glyphicon glyphicon-user"></span>
    </h1>
    <h1 class="username">
      Hello {{user.name}}
      <br>
      <br><br>
      <label for="">My Refferal Link</label>
            <div class="btn-group" style="width: 100%; margin-bottom: 2%">
                        <input type="text" class="form-control" [(ngModel)]="mylink" #userinput>
                        <button type="button" class="btn btn-info" (click)="copyLink(userinput)">Copy</button>
                      </div>
                  
    </h1>

    <div class="container">
      <!-- Trigger the modal with a button -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
      </div>

    </div>
  </li>
  <li class="list-group-item">
      <a routerLink="/my-profile">
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-user"></span> My Profile
      </a>
    </li>
  <li class="list-group-item">
    <a routerLink="/my-referrals">
      <span class="glyphicon glyphicon-user"></span>
      <span class="glyphicon glyphicon-user"></span> My-Referrals
      <span class="badge">{{ user.myrefferals }}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/my-bonuses">
      <span class="glyphicon glyphicon-credit-card"></span> Bonuses
      <span class="badge"> R {{ user.bonus }}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/my-withdraws">
      <span class="glyphicon glyphicon-credit-card"></span> My Withdrawals
      <span class="badge"> {{ myWithdrawals }}</span>
    </a>
  </li>
  <!--  <li class="list-group-item"><a href="Amount-You-Can-Keep"><span class="glyphicon glyphicon-apple"></span> Amount you can keep <span class="badge"> R {{ keepableAmount }}</span></a></li>    -->
  <li class="list-group-item">
    <a>
      <span class="glyphicon glyphicon-apple"></span>
      Amount kept <span class="badge"> R {{user.amountkept }}</span>
    </a>
  </li>
  <li ng-show="showDonateLink" class="list-group-item">
    <a routerLink="/create-dream">
      <span class="glyphicon glyphicon-heart-empty"></span> Create dream</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/user-dashboard">
      <span class="glyphicon glyphicon-th"></span> Dashboard</a>
  </li>
  <!--  <li class="list-group-item"><a href=""><span class="glyphicon glyphicon-th-list"></span> History</a></li> -->
  <li class="list-group-item">
    <a routerLink="/logout">
      <span class="glyphicon glyphicon-off"></span> Logout</a>
  </li>
</ul>

