<app-client-nav></app-client-nav>

<div class="banner_bottom" style="background:white">
    <div class="container">
      <div class="tittle_head">
        <h3 class="tittle">My Referrals -
          <a routerLink="/user-dashboard">Back</a>
        </h3>
      </div>
      <div class="inner_sec_info_wthree_agile">
        <div class="row">
          <div class="col-sm-6" *ngFor="let user of users">
  
            <div class="card bg-light text-dark">
              <div class="card-body">
                <b>{{ user.name }} {{ user.surname }} | {{ user.status }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner_sec_info_wthree_agile">
        <p>
          {{error}}
        </p>
      </div>
    </div>
  </div>
  