<app-client-nav></app-client-nav>
<div class="banner_bottom" style="background:white">
    <div class="container">
      <div class="tittle_head">
        <h3 class="tittle">My Profile -   <a routerLink="/user-dashboard">Back</a>
          <span></span>
        </h3>
      </div>
      <div class="inner_sec_info_wthree_agile">
      <div class="row ">
  
        <div class="col-sm-6">
            <b>Bank Name </b>
            <select class="myInput" id="bankname"  [(ngModel)]="bankname" required>
              <option *ngFor="let bankname of banks" [value]="bankname">{{bankname}}</option>
            </select> 
        </div>
        <div class="col-sm-6">
            <b>Account Type </b>
            <select class="myInput" id="accountType"  [(ngModel)]="accountType" required>
              <option *ngFor="let accountType of accountTypes" [value]="accountType">{{accountType}}</option>
            </select> 
        </div>
        <div class="col-sm-6">
            <label>Branch Name/Code</label>
            <br>
            <input type="text" [(ngModel)]="branch" class="myInput">
        </div>
        <div class="col-sm-6">
            <label>Account Number</label>
            <br>
            <input type="text" [(ngModel)]="accountnumber" class="myInput">
        </div>
        <div class="col-sm-6">
            <b>Keeper </b>
            <select class="myInput" id="isAkeeper"  [(ngModel)]="isAkeeper" required>
              <option *ngFor="let isAkeeper of keeperLS" [value]="isAkeeper">{{isAkeeper}}</option>
            </select> 
        </div>
        <div class="col-sm-6">
            <label>Id Number</label>
                      <br>
                      <input type="number" class="myInput" [(ngModel)]="id" ng-disabled="true" />
        </div>
      
        <div class="col-sm-6">
            <label>Cellphone Number</label>
            <br>
            <input type="number" class="myInput"  [(ngModel)]="cell" ng-disabled="true" />
        </div>
        <div class="col-sm-6">
            <label>Address Line</label>
            <br>
            <textarea class="myInput"  [(ngModel)]="address" ng-disabled="true"></textarea>
        </div>
       
        <div class="col-sm-12">
            <label>City</label>
            <br>
            <input type="text" class="myInput"  [(ngModel)]="city" ng-disabled="true" />
        </div>
      

     
        <div class="col-sm-12">
          <label></label>
          <br>
          
          <button type="button" class="btn btn-info" (click)="Save()">Update</button>
  
        </div>
        <div>
          {{message}}
        </div>
       
      </div>
      </div>
    </div>
  </div>

